{% extends "::base.html.twig" %}
{% block title %}Agile Workgroup Tool{% endblock %}
{% block body %}
<div class="container">
    <div class="page-header">
        <h1>Welcome to the <strong>Agile Workgroup Tool</strong></h1>
    </div>
    <p>
        <button class="btn btn-default" onclick="location.href='{{ path('ticket') }}'">Print Ticket</button>
        <button class="btn btn-default" onclick="location.href='{{ path('plantUml') }}'">UML Tool</button>
    </p>
</div>
{% endblock %}
